<div class="ui" [ngClass]="loading ? 'loading' : ''">
  <div *ngIf="instansi.KI">
    <h4 class="ui header">Update Instansi</h4>
    <div class="ui ignored info message">
      Reset and clear will modify all form fields, not just those which have validation rules
    </div>
  </div>
  <div *ngIf="!instansi.KI">
    <h4 class="ui header">Create Instansi</h4>
  </div>
  <form [formGroup]="instansiForm" class="ui form segment" novalidate>
    <div class="field">
      <label>Nama</label>
      <input formControlName="NAMA_INSTANSI" placeholder="Nama instansi" name="username" type="text" />
      <div *ngIf="isRequired('NAMA_INSTANSI')" class="ui basic red pointing prompt label transition visible">
        Masukan nama instansi.
      </div>
    </div>
    <div class="field">
      <label>Alamat</label>
      <textarea formControlName="ALAMAT" placeholder="Nama instansi" name="username" type="text"></textarea>
      <div *ngIf="isRequired('ALAMAT')" class="ui basic red pointing prompt label transition visible">
        Masukan alamat instansi.
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Telepon</label>
        <input formControlName="TELEPON" placeholder="No telefon" name="name" type="text">
        <div *ngIf="isRequired('TELEPON')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
        <label>Handphone</label>
        <input formControlName="HANDPHONE" placeholder="No handphone" name="name" type="text">
        <div *ngIf="isRequired('HANDPHONE')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Nama Bendahara</label>
        <input formControlName="NAMA_BENDAHARA" placeholder="Nama Bendahara" name="name" type="text">
        <div *ngIf="isRequired('NAMA_BENDAHARA')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
        <label>Telepon Bendahara</label>
        <input formControlName="TELEPON_BENDAHARA" placeholder="Telepon Bendahara" name="name" type="text">
        <div *ngIf="isRequired('TELEPON_BENDAHARA')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
    </div>

    <div *ngIf="!instansi.KI" (click)="simpan()" class="ui primary submit button">Simpan</div>
    <div *ngIf="instansi.KI" (click)="update()" class="ui primary submit button">Update</div>
    <div (click)="batal()"class="ui clear button">Batal</div>
  </form>
</div>
