<div id="account-modal" class="ui modal" [ngClass]="(loading$ | async) ? 'loading' : ''">
  <div class="header">List Account</div>
  <div class="scrolling content">
    <div class="ui form">
      <div class="four fields">
        <div class="field">
          <label>Unit Bisnis</label>
          <select [(ngModel)]="selectedUnitBisnis" (click)="onChangeUnitBisnis()" class="ui search dropdown">
              <option value="0" disabled selected>Select Jenis</option>
              <option *ngFor="let item of (unit$ | async)" [ngValue]="item">{{ item.KU + " - " + item.NAMA_UNIT}}</option>
          </select>
        </div>
        <div class="field">
          <label>Jenis Account</label>
          <select [(ngModel)]="selectedJenis" (click)="onChangeJenis()" class="ui search dropdown">
              <option value="0" disabled selected>Select Jenis</option>
              <option *ngFor="let item of (jenis$ | async)" [ngValue]="item">{{item.JENIS}}</option>
          </select>
        </div>
        <div class="field">
          <label>Kelompok Account</label>
          <select [(ngModel)]="selectedKelompok" (ngModelChange)="onChangeKelompok()" class="ui search dropdown">
              <option value="0" disabled selected>Select Kelompok</option>
              <option *ngFor="let item of (kelompok$ | async)" [ngValue]="item"> {{item.KELOMPOK}} </option>
          </select>
        </div>
        <div class="field">
          <label>Buku Besar</label>
          <select [(ngModel)]="selectedBukubesar" (ngModelChange)="onChangeBukubesar()" placeholder="Select Bukubesar" class="ui search dropdown">
              <option value="0" disabled selected>Select Bukubesar</option>
              <option *ngFor="let item of (bukubesar$ | async)" [ngValue]="item"> {{item.BUKUBESAR}} </option>
          </select>
        </div>
      </div>
    </div>
    <table datatable="ng" class="row-border hover">
      <thead>
        <tr>
          <th>ACC</th>
          <th>Keterangan</th>
          <th>Golongan</th>
          <th width="20%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="ui link" *ngFor="let item of (account$ | async)">
          <td>{{ item.ACC }}</td>
          <td>{{ item.KETERANGAN }}</td>
          <td>{{ item.GOLONGAN }}</td>
          <td> <button (click)="pilih(item)" type="button" class="ui button primary">Pilih</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="actions">
    <div class="ui cancel button">Batal</div>
  </div>
</div>