<div id="anggota-modal" class="ui modal" [ngClass]="(loading$ | async) ? 'loading' : ''">
  <div class="header">List Account</div>
  <div class="scrolling content">
    <div class="ui form">
      <div class="three fields">
        <div class="field">
          <label>Status</label>
          <select [(ngModel)]="status" (click)="refresh()" class="ui search dropdown">
            <option value="SEMUA" selected>SEMUA</option>
            <option value="1" selected>TIDAK AKTIF</option>
            <option value="2" selected>AKTIF</option>
          </select>
        </div>
        <div class="field">
          <label>Instansi</label>
          <select [(ngModel)]="selectedInstansi" (click)="refresh()" class="ui search dropdown">
            <option value="SEMUA" selected>SEMUA</option>
            <option *ngFor="let item of (instansi$ | async)" [ngValue]="item">{{item.NAMA_INSTANSI}}</option>
          </select>
        </div>
        <div class="field">
          <label>Golongan</label>
          <select [(ngModel)]="selectedGolongan" (ngModelChange)="refresh()" class="ui search dropdown">
            <option value="SEMUA" selected>SEMUA</option>
            <option *ngFor="let item of (golongan$ | async)" [ngValue]="item"> {{item.GOLONGAN}} </option>
          </select>
        </div>
      </div>
    </div>
    <table datatable="ng" class="row-border hover">
      <thead>
        <tr>
          <th>CIB</th>
          <th>NO KARTU</th>
          <th>NIP Anggota</th>
          <th>Nama Anggota</th>
          <th>Kode Instansi</th>
          <th width="25%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of (anggota$ | async)">
          <td>{{ item.CIB }}</td>
          <td>{{ item.NOKARTU }}</td>
          <td>{{ item.NIP }}</td>
          <td>{{ item.NAMA }}</td>
          <td>{{ item.KI }}</td>
          <td>
            <a (click)="pilih(item)" class="ui button blue">Approve</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="actions">
    <div class="ui cancel button">Batal</div>
  </div>
</div>
