<div class="ui segment" [ngClass]="loading ? 'loading' : ''">
  <div>
    <h4 class="ui header">Update Shu (Sisa Hasil Usaha)</h4>
    <div class="ui ignored info message">
      Reset and clear will modify all form fields, not just those which have validation rules <br>
    </div>
  </div>
  <form [formGroup]="shuForm" class="ui form segment" novalidate>
    <div class="field">
      <label>Modal</label>
      <input formControlName="modal" placeholder="Modal" name="modal" type="number" />
    </div>
    <div class="field">
      <label>Pengurus</label>
      <input formControlName="pengurus" placeholder="Pengurus" name="pengurus" type="number" />
    </div>
    <div class="field">
      <label>Anggota</label>
      <input formControlName="anggota" placeholder="anggota" name="anggota" type="number" />
    </div>
    <div class="field">
      <label>Karyawan</label>
      <input formControlName="Karyawan" placeholder="karyawan" name="karyawan" type="number" />
    </div>
    <div (click)="update()" class="ui primary submit button">Simpan</div>
    <div (click)="back()" class="ui button">Kembali</div>
  </form>
</div>
