<div class="ui middle center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <div class="content">
                Koperasi Unit Simpan Pinjam
            </div>
        </h2>
        <div *ngIf="!!(error$ | async)" class="ui ignored error message">
          <p>{{error$ | async}}</p>
        </div>
        <form (ngSubmit)="onSubmit(auth)" [formGroup]="auth" class="ui large form" novalidate>
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" formControlName="username" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" formControlName="password" name="password" placeholder="Password">
                    </div>
                </div>
                <button class="ui fluid large teal submit button" type="submit" [disabled]="auth.invalid" [ngClass]="(loading$ | async) ? 'loading' : ''">Login</button>
            </div>

            <div class="ui error message"></div>
        </form>
    </div>
</div>
