<div class="ui segment grid" [ngClass]="loading ? 'loading' : ''">
  <div class="row">
    <div class="column">
      <h4 class="ui header">List Instansi</h4>
    </div>
  </div>
  <div class="row">

    <div class="column">
      <a (click)="create()" class="ui button blue">Buat Instansi Baru</a>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <table datatable class="row-border hover">
        <thead>
          <tr>
            <th>KODE INSTANSI</th>
            <th>NAMA INSTANSI</th>
            <th>NAMA BENDAHARA</th>
            <th width="20%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of instansi">
            <td>{{ item.KI }}</td>
            <td>{{ item.NAMA_INSTANSI }}</td>
            <td>{{ item.NAMA_BENDAHARA }}</td>
            <td>
              <a (click)="edit(item)" class="ui button blue">Edit</a>
              <a (click)="delete(item)" class="ui button red">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
