<div class="ui" [ngClass]="loading ? 'loading' : ''">
  <div class="ui segment">
    {{ anggota | json }}
  </div>
  <div *ngIf="anggota.CIB">
    <h4 class="ui dividing header">Update Instansi</h4>
    <div class="ui ignored info message">
      Reset and clear will modify all form fields, not just those which have validation rules
    </div>
  </div>
  <div *ngIf="!anggota.CIB">
    <h4 class="ui dividing header">Create Instansi</h4>
  </div>
  <form [formGroup]="anggotaForm" class="ui form segment" novalidate>
    <div class="three fields">
      <div class="field">
        <label>NOKARTU</label>
        <input formControlName="NOKARTU" placeholder="Nomor Kartu" name="username" type="text" />
        <div *ngIf="isRequired('NOKARTU')" class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
        <label>NOGAJI</label>
        <input formControlName="NOGAJI" placeholder="Nomor Gaji" name="username" type="text"/>
        <div *ngIf="isRequired('NOGAJI')" class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
        <label>NIP</label>
        <input formControlName="NIP" placeholder="NIP" name="username" type="text"/>
        <div *ngIf="isRequired('NIP')" class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
    </div>
    <div class="field">
      <label>Nama</label>
      <input formControlName="NAMA" placeholder="Nama Lengkap" name="name" type="text">
      <div *ngIf="isRequired('NAMA')"  class="ui basic red pointing prompt label transition visible">
        Required
      </div>
    </div>
    <div class="field">
      <label>Nama Panggilan</label>
      <input formControlName="PANGGILAN" placeholder="No telefon" name="name" type="text">
      <div *ngIf="isRequired('PANGGILAN')"  class="ui basic red pointing prompt label transition visible">
        Required
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <label>Instansi</label>
        <select class="ui dropdown" formControlName="KI">
          <option value="">PILIH INSTANSI</option>
          <option *ngFor="let item of instansi" [value]="item.KI">{{ item.NAMA_INSTANSI }}</option>
        </select>
        <div *ngIf="isRequired('KI')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
        <label>TEMPAT LAHIR</label>
        <input formControlName="TMP_LAHIR" placeholder="No handphone" name="name" type="text">
        <div *ngIf="isRequired('TMP_LAHIR')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
        <label>TANGGAL LAHIR</label>
        <input formControlName="TGL_LAHIR" placeholder="No handphone" name="name" type="text">
        <div *ngIf="isRequired('TGL_LAHIR')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <label>Jenis Pengenal</label>
        <select formControlName="ID" class="ui dropdown" placeholder="Nama Bendahara" name="name" type="text">
          <option value="" selected>PILIH JENIS PENGENAL</option>
          <option *ngFor="let item of identitas" [value]="item.IDENTITAS">{{ item.IDENTITAS }}</option>
        </select>
        <div *ngIf="isRequired('ID')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
        <label>Nomor Pengenal</label>
        <input formControlName="NO_ID" placeholder="Telepon Bendahara" name="name" type="text">
        <div *ngIf="isRequired('NO_ID')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
        <label>Berlaku sampai</label>
        <input formControlName="TGLEXPIRED" placeholder="Telepon Bendahara" name="name" type="text">
        <div *ngIf="isRequired('TGLEXPIRED')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <label>AGAMA</label>
        <select formControlName="AGAMA" placeholder="Nama Bendahara" name="name" type="text">
          <option value="" selected>PILIH JENIS PENGENAL</option>
          <option *ngFor="let item of agama" [value]="item.AGAMA">{{ item.AGAMA }}</option>
        </select>
        <div *ngIf="isRequired('AGAMA')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
        <label>PENDIDIKAN</label>
        <select formControlName="PENDIDIKAN" placeholder="Telepon Bendahara" name="name" type="text">
          <option value="" selected>PILIH PENDIDIKAN</option>
          <option *ngFor="let item of pendidikan" [value]="item.PENDIDIKAN">{{ item.PENDIDIKAN }}</option>
        </select>
        <div *ngIf="isRequired('PENDIDIKAN')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
        <label>PEKERJAAN</label>
        <select formControlName="PEKERJAAN" placeholder="Telepon Bendahara" name="name" type="text">
          <option value="" selected>PILIH PEKERJAAN</option>
          <option *ngFor="let item of pekerjaan" [value]="item.PEKERJAAN">{{ item.PEKERJAAN }}</option>
        </select>
        <div *ngIf="isRequired('PEKERJAAN')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <label>JABATAN</label>
        <select formControlName="JABATAN" placeholder="Nama Bendahara" name="name" type="text">
          <option value="" selected>PILIH JABATAN</option>
          <option *ngFor="let item of jabatan" [value]="item.JABATAN">{{ item.JABATAN }}</option>
        </select>
        <div *ngIf="isRequired('JABATAN')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
        <label>GOLONGAN</label>
        <select formControlName="GOLONGAN" class="ui dropdown" placeholder="Telepon Bendahara" name="name" type="text">
          <option value="" selected>PILIH GOLONGAN</option>
          <option *ngFor="let item of golongan" [value]="item.GOLONGAN">{{ item.GOLONGAN }}</option>
        </select>
        <div *ngIf="isRequired('GOLONGAN')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
      </div>
    </div>
    <div class="field">
      <label>ALAMAT</label>
      <textarea formControlName="ALAMAT" placeholder="Nama Bendahara" name="name" type="text"></textarea>
      <div *ngIf="isRequired('ALAMAT')"  class="ui basic red pointing prompt label transition visible">
        Required
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <label>TELEPON</label>
        <input formControlName="TELEPON" placeholder="Nama Bendahara" name="name" type="text">
        <div *ngIf="isRequired('TELEPON')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
        <label>HANDPHONE</label>
        <input formControlName="HANDPHONE" placeholder="Telepon Bendahara" name="name" type="text">
        <div *ngIf="isRequired('HANDPHONE')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
        <label>E_MAIL</label>
        <input formControlName="E_MAIL" placeholder="Telepon Bendahara" name="name" type="text">
        <div *ngIf="isRequired('E_MAIL')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
    </div>
    <div class="ui dividing header ">
      Data Ahli waris
    </div>
    <div class="three fields">
      <div class="field">
        <label>NAMAAHLIWARIS</label>
        <input formControlName="NAMAAHLIWARIS" placeholder="Nama Bendahara" name="name" type="text">
        <div *ngIf="isRequired('NAMAAHLIWARIS')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
        <label>HUBKEL</label>
        <select formControlName="HUBKEL" class="ui dropdown" placeholder="Telepon Bendahara" name="name" type="text">
          <option value="" selected>PILIH HUBUNGAN KELUARGA</option>
          <option *ngFor="let item of hub_keluarga" [value]="item.HUBKELUARGA">{{ item.HUBKELUARGA }}</option>
        </select>
        <div *ngIf="isRequired('HUBKEL')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
      <div class="field">
        <label>ALAMATAHLIWARIS</label>
        <input formControlName="ALAMATAHLIWARIS" placeholder="Telepon Bendahara" name="name" type="text">
        <div *ngIf="isRequired('ALAMATAHLIWARIS')"  class="ui basic red pointing prompt label transition visible">
          Required
        </div>
      </div>
    </div>
    <div *ngIf="!anggota.CIB" (click)="simpan()" class="ui primary submit button">Simpan</div>
    <div *ngIf="anggota.CIB" (click)="update()" class="ui primary submit button">Update</div>
    <div (click)="batal()"class="ui clear button">Batal</div>
  </form>
</div>
