<div class="ui segment" [ngClass]="loading ? 'loading' : ''">
  <h4 class="ui header">Account Bukubesar</h4>
  <div class="ui form">
    <div class="two fields">
      <div class="field">
        <label>Jenis Account</label>
        <select [(ngModel)]="selectedJenis" (ngModelChange)="onChangeJenis()" class="ui search dropdown">
          <option value="0" disabled selected>Select Jenis</option>
          <option *ngFor="let item of jenis" [ngValue]="item">{{item.JENIS}}</option>
        </select>
      </div>
      <div class="field">
        <label>Kelompok Account</label>
        <select [(ngModel)]="selectedKelompok" (ngModelChange)="onChangeKelompok()" class="ui search dropdown">
          <option value="0" disabled selected>Select Kelompok</option>
          <option *ngFor="let item of kelompok" [ngValue]="item"> {{item.KELOMPOK}} </option>
        </select>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
      </div>
      <div class="field">
        <button (click)="create()" type="button" class="ui button green">Buat Buku Besar Baru</button>
      </div>
    </div>
  </div>
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>ACC</th>
        <th>Keterangan</th>
        <th>Golongan</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of bukubesar">
        <td>{{ item.ACCBB }}</td>
        <td>{{ item.BUKUBESAR }}</td>
        <td>{{ item.GOLONGAN }}</td>
        <th>
          <button (click)="onEdit(item)" type="button" class="ui button blue">Edit</button>
          <button (click)="onDelete(item)" type="button" class="ui button red">Delete</button>
         </th>
      </tr>
    </tbody>
  </table>
</div>
