<div class="ui top attached tabular menu">
  <a class="item" [ngClass]="state == 'SIMPAN PINJAM' ? 'active' : ''" (click)="pilih('SIMPAN PINJAM')">
    SIMPAN PINJAM
  </a>
  <a class="item" [ngClass]="state == 'PERDAGANGAN' ? 'active' : ''" (click)="pilih('PERDAGANGAN')">
    PERDAGANGAN
  </a>
  <a class="item" [ngClass]="state == 'JASA' ? 'active' : ''" (click)="pilih('JASA')">
    JASA
  </a>
  <a class="item" [ngClass]="state == 'PERSEWAAN' ? 'active' : ''" (click)="pilih('PERSEWAAN')">
    PERSEWAAN
  </a>
  <a class="item" [ngClass]="state == 'PAYMENT POINT' ? 'active' : ''" (click)="pilih('PAYMENT POINT')">
    PAYMENT POINT
  </a>
</div>
<div class="ui bottom attached segment">
  <div class="ui link four stackable cards">
    <div class="card" *ngFor="let item of (items$ | async)" (click)="select(item)">
      <div class="image">
        <img src="assets/images/avatar/matthew.png">
      </div>
      <div class="content">
        <div class="header">{{ item.NAMA_UNIT }}</div>
        <div class="description">
          KODE UNIT - {{ item.KU }}
        </div>
      </div>
    </div>
  </div>
</div>
