<div class="ui segment" [ngClass]="loading ? 'loading' : ''">
  <h4 class="ui header">Pengaturan Unit Bisnis</h4>
  <div class="ui form">
    <div class="three fields">
      <div class="field">
        <label>Jenis Unit Bisnis</label>
        <select [(ngModel)]="selectedJenis" (ngModelChange)="onChangeJenis()" class="ui search dropdown">
          <option value="0" disabled selected>Select Unit Bisnis</option>
          <option *ngFor="let item of jenis" [ngValue]="item">{{item}}</option>
        </select>
      </div>
    </div>
  </div>
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>Kode Unit</th>
        <th>Nama</th>
        <th>Active</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of unitList">
        <td>{{ item.KU }}</td>
        <td>{{ item.NAMA_UNIT }}</td>
        <td *ngIf="item.ST == 0"><a class="ui red label">Tidak Active</a></td>
        <td *ngIf="item.ST == 1"><a class="ui green label">Active</a></td>
        <th>
          <button type="button" (click)="update(item)" class="ui button blue">Edit</button>
        </th>
      </tr>
    </tbody>
  </table>
</div>
