<div class="ui" [ngClass]="loading ? 'loading' : ''">
  <div>
    <h4 class="ui header">Update Unit Bisnis</h4>
    <div class="ui ignored info message">
      Reset and clear will modify all form fields, not just those which have validation rules <br>
      {{ unit | json }}
    </div>
  </div>
  <form [formGroup]="unitForm" class="ui form segment" novalidate>
    <div class="field">
      <label>KODE UNIT</label>
      <input formControlName="KU" disabled placeholder="Modal" name="modal" type="text" />
    </div>
    <div class="field">
      <label>NAMA UNIT</label>
      <input formControlName="NAMA_UNIT" placeholder="Pengurus" name="pengurus" type="text" />
    </div>
    <div class="field">
      <label>STATUS</label>
      <select formControlName="ST" class="ui search dropdown">
        <option value="0">TIDAK AKTIF</option>
        <option value="1">AKTIF</option>
      </select>
    </div>
    <div (click)="update()" class="ui primary submit button">Simpan</div>
    <div (click)="back()" class="ui button">Kembali</div>
  </form>
</div>
