<div class="ui" [ngClass]="loading ? 'loading' : ''">
  <div *ngIf="account.CIF">
    <h4 class="ui header">Update Account</h4>
    <div class="ui ignored info message">
      Reset and clear will modify all form fields, not just those which have validation rules
    </div>
  </div>
  <div *ngIf="!account.CIF">
    <h4 class="ui header">Create Account</h4>
  </div>
  <form [formGroup]="accountForm" class="ui form segment" novalidate>
    <div class="three fields">
      <div class="field">
        <label>Bukubesar</label>
        <select formControlName="bukubesar" (change)="onChangeBukubesar()" class="ui search dropdown">
          <option value="0" disabled selected>Select Kelompok</option>
          <option *ngFor="let item of bukubesar" [ngValue]="item"> {{item.BUKUBESAR}} </option>
        </select>
      </div>
      <div class="field">
        <label>Bukubesar</label>
        <input formControlName="vbukubesar" placeholder="No Bukubesar" name="name" type="text">
      </div>
      <div class="field">
        <label>Urut</label>
        <input formControlName="urut" placeholder="No Urut Account" name="name" type="text">
        <div *ngIf="urutIsInvalid" class="ui basic red pointing prompt label transition visible">
          Masukan Urut account.
        </div>
      </div>
    </div>
    <div class="field">
      <label>Nama</label>
      <input formControlName="nama" placeholder="Nama Account" name="username" type="text" />
      <div *ngIf="namaIsInvalid" class="ui basic red pointing prompt label transition visible">
        Masukan nama account.
      </div>
    </div>
    <div (click)="simpan()" class="ui primary submit button">Simpan</div>
    <div (click)="batal()"class="ui clear button">Batal</div>
  </form>
</div>
