
<app-account-modal #modalAnggota (onSelectAccount)="fromModal($event)">
</app-account-modal>
<h1 class="ui header">Setoran Simpanan Pokok</h1>
<div class="ui segments" [ngClass]="loading ? 'loading' : ''">
  <div class="ui segment secondary">
    <p>Setoran Simpanan</p>
  </div>
  <div class="ui segment">
    <form [formGroup]="form" class="ui form" novalidate>
      <div class="ui two column grid">
        <div class="column">
          <div class="fields inline">
            <div class="six wide field">
              <label>No. Anggota</label>
            </div>
            <div class="ten wide field">
              <div class="ui icon input">
                <input readonly formControlName="CIB"  type="text" placeholder="Cari...">
                <i (click)="cariAnggota()" class="circular search link icon"></i>
              </div>
              <div class="ui basic red pointing prompt label transition visible">
                Requeired
              </div>
            </div>
          </div>
          <div class="ui segments">
            <div class="ui segment secondary">
              Informasi Anggota
            </div>
            <div class="ui segment">
              <div class="fields inline">
                <div class="six wide field">
                  <label>Instansi</label>
                  <input readonly formControlName="KI" type="text" name="" value="">
                </div>
                <div class="ten wide field">
                  <input readonly formControlName="NAMA_INSTANSI" type="text" name="" value="">
                </div>
              </div>
              <div class="field">
                <label>Nama</label>
                <input readonly formControlName="NAMA" type="text" name="" value="">
              </div>
              <div class="field inline">
                <label>ID</label>
                <div class="fields inline">
                  <div class="six wide field">
                    <input readonly formControlName="ID" type="text" name="" value="">
                  </div>
                  <div class="ten wide field">
                    <input readonly formControlName="NO_ID" type="text" name="" value="">
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Tanggal Expired</label>
                <input readonly formControlName="TGLEXPIRED" type="text" name="" value="">
              </div>
              <div class="field">
                <label>Alamat</label>
                <textarea readonly formControlName="ALAMAT">
                </textarea>
              </div>
            </div>
          </div>
          <div class="ui segments">
            <div class="ui segment secondary">
              <div class="fields inline">
                <div class="six wide field">
                  <label>Jenis Rekening</label>
                </div>
                <div class="ten wide field">
                  <select class="ui dropdown" (change)="onChangeJenisRekening($event)">
                    <option value="" selected>Pilih Jenis Rekening</option>
                    <option value="1101">KAS</option>
                    <option value="1102">BANK</option>
                  </select>
                </div>
              </div>
              <div class="fields inline">
                <div class="six wide field">
                    <label>No. Transaksi</label>
                </div>
                <div class="ten wide field">
                  <div class="fields">
                    <div class="six wide field">
                      <input type="text" name="" value="">
                    </div>
                    <div class="ten wide field">
                      <input type="text" name="" value="">
                    </div>
                  </div>

                </div>


              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label>No. Simpanan</label>
            <input readonly formControlName="NOSIMP" type="text" name="" value="">
          </div>
          <div class="ui segment">
            <div class="field">
              <label>Jenis Simpanan</label>
              <div class="fields inline">
                <div  class="four wide field">
                  <input readonly [value]="jenissimp" type="text" name="" value="">
                </div>
                <div class="twelve wide field">
                  <input readonly [value]="jenissimpketerangan"  type="text" name="" value="">
                </div>
              </div>
            </div>
            <div class="ui grid">
              <!-- <div class="row"> -->
                <div class="four wide column">
                  <label>Min. Setoran</label>
                </div>
                <div class="four wide column">
                  <label style="text-align:right;display:block;">{{ jenis && jenis.SETMIN ? (jenis.SETMIN | Currency) : '0.00' }}</label>
                </div>
                <div class="four wide column">
                  <label>Max. Tarik</label>
                </div>
                <div class="four wide column">
                  <label style="text-align:right;display:block;">{{ jenis &&  jenis.MAXTARIK ? (jenis.MAXTARIK | Currency) : '0.00' }}</label>
                </div>
              <!-- </div>
              <div class="row"> -->
                <div class="four wide column">

                  <label>Min Tarik</label>

                </div>
                <div class="four wide column">

                  <label style="text-align:right;display:block;">{{ jenis &&  jenis.MINTARIK ? (jenis.MINTARIK | Currency) : '0.00' }}</label>
                </div>
                <div class="four wide column">

                  <label>Saldo Minimum</label>

                </div>
                <div class="four wide column">

                  <label style="text-align:right;display:block;">{{ jenis &&  jenis.SALMIN ? (jenis.SALMIN | Currency) : '0.00' }}</label>
                </div>
              <!-- </div>
              <div class="row"> -->
                <div class="four wide column">

                  <label>Nominal Potongan</label>
                </div>
                <div class="four wide column">

                  <label style="text-align:right;display:block;">{{ jenis &&  jenis.POT ? (jenis.POT | Currency) : '0.00'}}</label>
                </div>
                <div class="four wide column">

                  <label>Administrasi</label>
                </div>
                <div class="four wide column">

                  <label style="text-align:right;display:block;">{{ jenis &&  jenis.ADMIN ?( jenis.ADMIN | Currency ): '0.00' }}</label>
                </div>
              <!-- </div> -->
            </div>
            <div class="ui segments">
              <div class="ui segment secondary">
                Informasi Saldo
              </div>
              <div class="ui segment">
                <div class="ui four column grid">
                  <div class="column">
                    <label>Saldo. Simpanan</label>
                  </div>
                  <div class="column">
                    <label style="text-align:right;display:block;">{{ master && master.SALDO ? (master.SALDO | Currency) : '0.00' }}</label>
                  </div>
                  <div class="column">
                    <label>Saldo. Terblokir</label>
                  </div>
                  <div class="column">
                    <label style="text-align:right;display:block;">{{ master &&  master.BLOKIR ? (master.BLOKIR | Currency) : '0.00' }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui segments">
            <div class="ui segment secondary">
              <div class="fields inline">
                <div class="six wide field">
                  <label>Rekening Transaksi</label>
                </div>
                <div class="ten wide field">
                  <select class="ui dropdown" [disabled]="!acc">
                    <option value="" selected>Pilih Rekening Transaksi</option>
                    <option *ngFor="let item of acc" [value]="item.ACC">{{ item.KETERANGAN }}</option>
                  </select>
                </div>
              </div>
              <div class="fields inline">
                <div class="six wide field">
                  <label>Nominal Transaksi</label>
                </div>
                <div class="ten wide field">
                  <div class="ui massive input">
                    <input currencyFormatter style="text-align:right;" type="text" name="" value="">
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Keterangan Transaksi</label>
                <input type="text" name="" value="">
              </div>
            </div>
          </div>
          <div class="ui segment">
            <button (click)="posting()" class="ui primary submit button">Simpan</button>
            <button (click)="baru()" class="ui clear button">Batal</button>
            <button (click)="batal()" class="ui clear button">Batal</button>
          </div>
        </div>
      </div>
      <br><br>

    </form>
  </div>
</div>

<app-anggota-modal (onSelectAnggota)="fromModal($event)" #cariAnggotaModal>
</app-anggota-modal>
