
<app-account-modal #modal (onSelectAccount)="fromModal($event)">
</app-account-modal>
<div class="ui segments" [ngClass]="loading ? 'loading' : ''">
  <div class="ui segment secondary">
    <p>Parameter Simpanan</p>
  </div>
  <div class="ui segment">
    <form [formGroup]="simpananSetting" class="ui form" novalidate>
      <div class="field">
        <label>Jenis Simpanan</label>
        <div class="two fields">
          <div class="four wide field">
            <div class="ui icon input">
              <input (change)="change($event)" readonly type="text" formControlName="ACC" placeholder="Cari...">
              <i (click)="cariAccount('ACC')" class="circular search link icon"></i>
            </div>
            <div *ngIf="isRequired('ACC')" class="ui basic red pointing prompt label transition visible">
              Requeired
            </div>
          </div>
          <div class="twelve wide field">
            <input formControlName="ACCKETERANGAN" disabled placeholder="No Bukubesar" name="name" type="text">
          </div>
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>Min. Setoran awal</label>
          <input formControlName="SETAWAL" currencyFormatter style="text-align: right;" placeholder="Nama Account" name="username" type="text" />
          <div *ngIf="isRequired('SETAWAL')" class="ui basic red pointing prompt label transition visible">
            Required
          </div>
        </div>
        <div class="field">
          <label>Min. Setoran</label>
          <input formControlName="SETMIN" currencyFormatter style="text-align: right;" placeholder="Nama Account" name="username" type="text" />
          <div *ngIf="isRequired('SETMIN')" class="ui basic red pointing prompt label transition visible">
            Required
          </div>
        </div>
        <div class="field">
          <label>Minimal Saldo</label>
          <input formControlName="SALMIN" currencyFormatter style="text-align: right;" placeholder="Nama Account" name="username" type="text" />
          <div *ngIf="isRequired('SALMIN')" class="ui basic red pointing prompt label transition visible">
            Required
          </div>
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>Min. Penarikan</label>
          <input formControlName="MINTARIK" currencyFormatter style="text-align: right;" placeholder="Nama Account" name="username" type="text" />
          <div *ngIf="isRequired('MINTARIK')" class="ui basic red pointing prompt label transition visible">
            Required
          </div>
        </div>
        <div class="field">
          <label>Max. Penarikan</label>
          <input formControlName="MAXTARIK" currencyFormatter style="text-align: right;" placeholder="Nama Account" name="username" type="text" />
          <div *ngIf="isRequired('MAXTARIK')" class="ui basic red pointing prompt label transition visible">
            Required
          </div>
        </div>
      </div>
      <hr>
      <div class="two fields">
        <div class="field">
          <label>Bunda / Jasa</label>
          <input formControlName="BGA" currencyFormatter style="text-align: right;" placeholder="Nama Account" name="username" type="text" />
          <div *ngIf="isRequired('BGA')" class="ui basic red pointing prompt label transition visible">
            Required
          </div>
        </div>
        <div class="field">
          <label>Rek Beban Bunga</label>
          <div class="two fields">
            <div class="four field">
              <div class="ui icon input">
                <input readonly formControlName="ACCBGA" type="text" placeholder="Cari...">
                <i (click)="cariAccount('ACCBGA')" class="circular search link icon"></i>
              </div>
              <div *ngIf="isRequired('ACCBGA')" class="ui basic red pointing prompt label transition visible">
                Required
              </div>
            </div>
            <div class="twelve field">
              <input formControlName="ACCBGAKETERANGAN" disabled type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Biaya Pajak terhadap bunga</label>
          <input formControlName="PJK" currencyFormatter style="text-align: right;" placeholder="Nama Account" name="username" type="text" />
          <div *ngIf="isRequired('PJK')" class="ui basic red pointing prompt label transition visible">
            Required
          </div>
        </div>
        <div class="field">
          <label>Rek Bunga Pajak terhadap Bunga</label>
          <div class="two fields">
            <div class="four field">
              <div class="ui icon input">
                <input readonly formControlName="ACCPJK" type="text" placeholder="Cari...">
                <i (click)="cariAccount('ACCPJK')" class="circular search link icon"></i>
              </div>
              <div *ngIf="isRequired('ACCPJK')" class="ui basic red pointing prompt label transition visible">
                Required
              </div>
            </div>
            <div class="twelve field">
              <input formControlName="ACCPJKKETERANGAN" disabled type="text" name="" value="">
            </div>
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Biaya penutupan rekening</label>
          <input formControlName="POT" currencyFormatter style="text-align: right;" type="text" placeholder="Cari...">
          <div *ngIf="isRequired('POT')" class="ui basic red pointing prompt label transition visible">
            Required
          </div>
        </div>
        <div class="field">
          <label>Rek Biaya penutupan rekening</label>
          <div class="two fields">
            <div class="four field">
              <div class="ui icon input">
                <input readonly formControlName="ACCPOT" type="text" placeholder="Cari...">
                <i (click)="cariAccount('ACCPOT')" class="circular search link icon"></i>
              </div>
              <div *ngIf="isRequired('ACCPOT')" class="ui basic red pointing prompt label transition visible">
                Required
              </div>
            </div>
            <div class="twelve field">
              <input formControlName="ACCPOTKETERANGAN" disabled type="text" name="" value="">
            </div>
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Biaya Administrasi</label>
          <input formControlName="ADM" currencyFormatter style="text-align: right;" placeholder="Nama Account" name="username" type="text" />
          <div *ngIf="isRequired('ADM')" class="ui basic red pointing prompt label transition visible">
            Required
          </div>
        </div>
        <div class="field">
          <label>Rek Biaya Administrasi</label>
          <div class="two fields">
            <div class="four field">
              <div class="ui icon input">
                <input readonly formControlName="ACCADM" type="text" placeholder="Cari...">
                <i (click)="cariAccount('ACCADM')" class="circular search link icon"></i>
              </div>
              <div *ngIf="isRequired('ACCADM')" class="ui basic red pointing prompt label transition visible">
                Required
              </div>
            </div>
            <div class="twelve field">
              <input formControlName="ACCADMKETERANGAN" disabled type="text" name="" value="">
            </div>
          </div>
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>Status</label>
          <select formControlName="ST" class="ui dropdown">
            <option value="0">TIDAK AKTIF</option>
            <option value="1">AKTIF</option>
          </select>
          <div *ngIf="isRequired('ST')" class="ui basic red pointing prompt label transition visible">
            Required
          </div>
        </div>
        <div class="field">
          <label>Nominal setoran Rutin</label>
          <input formControlName="SETORAN" currencyFormatter style="text-align: right;" placeholder="Nama Account" name="username" type="text" />
          <div *ngIf="isRequired('SETORAN')" class="ui basic red pointing prompt label transition visible">
            Required
          </div>
        </div>
        <div class="field">
          <label>Perhitungan Bunga</label>
          <select formControlName="PB" class="ui dropdown">
            <option value="0">FLAT</option>
            <option value="1">ANUITAS</option>
          </select>
          <div *ngIf="isRequired('PB')" class="ui basic red pointing prompt label transition visible">
            Required
          </div>
        </div>
      </div>
      <button (click)="simpan()" [disabled]="!simpananSetting.valid" class="ui primary submit button">Simpan</button>
      <button class="ui primary submit button">Distribusi Ke Anggota</button>
      <button (click)="batal()" class="ui clear button">Batal</button>
    </form>
  </div>
</div>
