<div class="ui segment" [ngClass]="loading ? 'loading' : ''">
  <h4 class="ui header">List Account</h4>
  <div class="ui form">
    <div class="four fields">
      <div class="field">
        <label>Unit Bisnis</label>
        <select [(ngModel)]="selectedUnitBisnis" (click)="onChangeUnitBisnis()" class="ui search dropdown">
          <option value="0" disabled selected>Select Jenis</option>
          <option *ngFor="let item of unit" [ngValue]="item">{{ item.KU + " - " + item.NAMA_UNIT}}</option>
        </select>
      </div>
      <div class="field">
        <label>Jenis Account</label>
        <select [(ngModel)]="selectedJenis" (click)="onChangeJenis()" class="ui search dropdown">
          <option value="0" disabled selected>Select Jenis</option>
          <option *ngFor="let item of jenis" [ngValue]="item">{{item.JENIS}}</option>
        </select>
      </div>
      <div class="field">
        <label>Kelompok Account</label>
        <select [(ngModel)]="selectedKelompok" (ngModelChange)="onChangeKelompok()" class="ui search dropdown">
          <option value="0" disabled selected>Select Kelompok</option>
          <option *ngFor="let item of kelompok" [ngValue]="item"> {{item.KELOMPOK}} </option>
        </select>
      </div>
      <div class="field">
        <label>Buku Besar</label>
        <select [(ngModel)]="selectedBukubesar" (ngModelChange)="onChangeBukubesar()" placeholder="Select Bukubesar" class="ui search dropdown">
          <option value="0" disabled selected>Select Bukubesar</option>
          <option *ngFor="let item of bukubesar" [ngValue]="item"> {{item.BUKUBESAR}} </option>
        </select>
      </div>
    </div>
    <div class="four fields">
      <div class="field">
      </div>
      <div class="field">
      </div>
      <div class="field">
      </div>
      <div class="field">
        <button (click)="createNewAccount()" [disabled]="selectedBukubesar === '0'" type="button" class="ui button green right">Buat Account Baru</button>
      </div>
    </div>
  </div>
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>ACC</th>
        <th>Keterangan</th>
        <th>Golongan</th>
        <th width="20%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of account">
        <td>{{ item.ACC }}</td>
        <td>{{ item.KETERANGAN }}</td>
        <td>{{ item.GOLONGAN }}</td>
        <div *ngIf="item.GOLONGAN !== 'SYSTEM';then editable else not_editable">

        </div>
        <ng-template #editable>
          <td>
            <a (click)="edit(item)" class="ui button blue">Edit</a>
            <a (click)="delete(item)" class="ui button red">Delete</a>
          </td>

        </ng-template>
        <ng-template #not_editable>
          <td></td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
