<div class="ui segment" [ngClass]="loading ? 'loading' : ''">
  <h4 class="ui header">List Anggota</h4>
  <div class="ui form">
    <div class="three fields">
      <div class="field">
        <label>Status</label>
        <select [(ngModel)]="status" (click)="refresh()" class="ui search dropdown">
          <option value="SEMUA" selected>SEMUA</option>
          <option value="1" selected>TIDAK AKTIF</option>
          <option value="2" selected>AKTIF</option>
        </select>
      </div>
      <div class="field">
        <label>Instansi</label>
        <select [(ngModel)]="selectedInstansi" (click)="refresh()" class="ui search dropdown">
          <option value="SEMUA" selected>SEMUA</option>
          <option *ngFor="let item of instansi" [ngValue]="item">{{item.NAMA_INSTANSI}}</option>
        </select>
      </div>
      <div class="field">
        <label>Golongan</label>
        <select [(ngModel)]="selectedGolongan" (ngModelChange)="refresh()" class="ui search dropdown">
          <option value="SEMUA" selected>SEMUA</option>
          <option *ngFor="let item of golongan" [ngValue]="item"> {{item.GOLONGAN}} </option>
        </select>
      </div>
    </div>
  </div>
  <button type="button" (click)="create()" class="ui button green">Registrasi Anggota Baru</button>
  <br/><br/>
  <table datatable="ng" class="row-border hover">
    <thead>
      <tr>
        <th>CIB</th>
        <th>NO KARTU</th>
        <th>NIP Anggota</th>
        <th>Nama Anggota</th>
        <th>Kode Instansi</th>
        <th width="25%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of anggota">
        <td>{{ item.CIB }}</td>
        <td>{{ item.NOKARTU }}</td>
        <td>{{ item.NIP }}</td>
        <td>{{ item.NAMA }}</td>
        <td>{{ item.KI }}</td>
        <div *ngIf="item.ST !== '1';then editable else not_editable">
        </div>
        <ng-template #editable>
          <td>
            <a (click)="edit(item)" class="ui button blue">Edit</a>
            <a (click)="delete(item)" class="ui button red">Delete</a>
          </td>
        </ng-template>
        <ng-template #not_editable>
          <td>
            <a (click)="approv(item)" class="ui button blue">Approve</a>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
