<div class="ui segments">
  <div class="ui segment secondary">
    <h4 class="ui header">Daftar Jenis Simpanan</h4>
  </div>
  <div class="ui segment">
    <table datatable="ng" class="row-border hover">
      <thead>
        <tr>
          <th>JENIS SIMPANAN</th>
          <th>KETERANGAN</th>
          <th>BUNGA</th>
          <th>PAJAK</th>
          <th>ADMIN</th>
          <th width="25%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of jenis">
          <td>{{ item.ACC }}</td>
          <td>-</td>
          <td>{{ item.BGA }}</td>
          <td>{{ item.PJK }}</td>
          <td>{{ item.ADM }}</td>
          <td>
            <a (click)="edit(item)" class="ui button blue">Edit</a>
            <a (click)="hapus(item)" class="ui button red">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
