<div class="ui" [ngClass]="loading ? 'loading' : ''">
  <div *ngIf="bukubesar.CIF">
    <h4 class="ui header">Update Bukubesar</h4>
    <div class="ui ignored info message">
      Reset and clear will modify all form fields, not just those which have validation rules
      {{ bukubesar | json }}
    </div>
  </div>
  <div *ngIf="!bukubesar.CIF">
    <h4 class="ui header">Create Bukubesar</h4>
  </div>
  <form [formGroup]="bukubesarForm" class="ui form segment" novalidate>
    <div class="three fields">
      <div class="field">
        <label>Jenis</label>
        <select formControlName="JENIS" [disabled]="bukubesar.CIF" (change)="onChangeJenis()" class="ui search dropdown">
          <option value="0" disabled selected>Select Jenis</option>
          <option *ngFor="let item of jenis" [value]="item.ACCJENIS"> {{item.JENIS}} </option>
        </select>
      </div>
      <div class="field">
        <label>Jenis</label>
        <select formControlName="KELOMPOK" [disabled]="bukubesar.CIF" (change)="onChangeKelompok()" class="ui search dropdown">
          <option value="0" disabled selected>Select Kelompok</option>
          <option *ngFor="let item of kelompok" [value]="item.ACCKEL"> {{item.KELOMPOK}} </option>
        </select>
      </div>
      <div class="field">
        <label>Urut</label>
        <input formControlName="URUT" [disabled]="bukubesar.CIF" placeholder="No Urut Account" name="name" type="text">
      </div>
    </div>
    <div class="field">
      <label>Nama</label>
      <input formControlName="BUKUBESAR" placeholder="Nama Bukubesar" name="username" type="text" />
    </div>
    <div class="three fields">
      <div class="field">
        <label>Kategori</label>
        <input formControlName="KATEGORI" placeholder="No Urut Account" name="name" type="text">
      </div>
      <div class="field">
        <label>Golongan</label>
        <input formControlName="GOLONGAN" placeholder="No Urut Account" name="name" type="text">
      </div>
      <div class="field">
        <label>Resiko</label>
        <input formControlName="RESIKO" placeholder="Resiko" type="text">
      </div>
    </div>
    <div *ngIf="!bukubesar.CIF" (click)="simpan()" class="ui primary submit button">Simpan</div>
    <div *ngIf="bukubesar.CIF" (click)="update()" class="ui primary submit button">Update</div>
    <div (click)="batal()"class="ui clear button">Batal</div>
  </form>
</div>
