<div class="ui stackable container menu">
  <div class="header item link" (click)="home()">e-koperasi</div>
  <div class="ui dropdown item">
    Pengaturan
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="header">Setting</div>
      <div routerLink="/pengaturan/unit" class="item" routerLinkActive="active">Parameter Unit Bisnis</div>
      <div routerLink="/pengaturan/instansi" class="item" routerLinkActive="active">Instansi</div>
      <div class="item">
        <i class="dropdown icon"></i>
        <span class="text">Parameter COA</span>
        <div class="menu">
          <div class="item" routerLink="/pengaturan/account" routerLinkActive="active">Account</div>
          <div class="item" routerLink="/pengaturan/bukubesar" routerLinkActive="active">Bukubesar</div>
        </div>
      </div>
      <div routerLink="/pengaturan/shu" routerLinkActive="active" class="item">Parameter SHU</div>
      <div class="divider"></div>
      <div class="header">User</div>
      <div class="item">Administrasi User</div>
      <div class="item">Aktifasi User</div>
      <div class="item">Aktifitas User</div>
    </div>
  </div>
  <div class="right menu">
    <a class="item"><button (click)="logout()" type="button" class="ui button red">Keluar</button> </a>
  </div>
</div>
<div class="ui container">
  <div class="ui header">
    <app-breadcrumbs></app-breadcrumbs>
  </div>
  <div [@routerTransition]="getState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>
